{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="goals" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="logo.jpeg">
    <meta property="og:url" content="https://hijack" />
    <meta property="og:description" content="Hijack Guardian Ciphers Protecting our community online — events, tools, and education" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Hijack Ciphers" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'assert/style.css' %}">
    <script src="{% static 'assert/script.js' %}"></script>
    <title>Cipher blog</title>
</head>
<body>
     <nav class="main-nav">
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'cyber:home'%}">
                    <img src="{% static './assert/images/logo.jpg'%}" alt="Hijack Guardian Ciphers Logo">
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="{% url 'cyber:home'%}" class="nav-link">Home</a></li>
                <li><a href="{% url 'cyber:about' %}" class="nav-link">About</a></li>
                <li><a href="{% url 'cyber:services' %}" class="nav-link">Services</a></li>
                <li><a href="{% url 'cyber:project' %}" class="nav-link">Projects</a></li>
                <li><a href="{% url 'cyber:contact' %}" class="nav-link">Contact</a></li>
            </ul>

            <button class="menu-toggle" id="menu-toggle" aria-label="Toggle navigation menu">
                <span class="menu-icon"></span>
            </button>
        </div>
    </nav>

    <div class="mobile-menu" id="mobile-menu" aria-label="Mobile navigation">
        <div class="mobile-menu-container">
            <a href="{% url 'cyber:home'%}" class="mobile-link">Home</a>
            <a href="{% url 'cyber:about' %}" class="mobile-link">About</a>
            <a href="{% url 'cyber:services' %}" class="mobile-link">Services</a>
            <a href="{% url 'cyber:project' %}" class="mobile-link">Projects</a>
            <a href="{% url 'cyber:contact' %}" class="mobile-link">Contact</a>
        </div>
    </div>
  {% block content %}
  {% endblock %}
</body>
</html>